/*------------------HEADER -------------------*/
header{
    width: 100%;
    height: 86px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: fixed;
    top: 0;
}
.header__w-1250{
    width: 1250px;
    height: 100%;
    display: flex;
    padding: 26px 0 15px 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header__w-1250 div:first-of-type{
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.header__w-1250 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
header h2{
    color: #001858;
    font-size: 36px;
    width: 146px;
    height: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
header h4{
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 48px;
    height: 27px;
}
.header__w-1250>nav>ul>li:nth-child(4)::before{
    content: "";
    display: inline-block;
    background-size: cover;
    margin-right: 10px;
    background-image: url("Icons/search.png");
    width: 17px;
    height: 17px;
}
.header__w-1250>nav>ul>li:nth-child(5)::before{
    content: "";
    display: inline-block;
    background-size: cover;
    background-image: url("Icons/Coffee.png");
    width: 24px;
    height: 24px;
}
.header__w-1250>nav>ul>li:nth-child(5){
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
/*----------------------- MAIN ------------------------*/
main{
    width: 100%;
    height: 900px;
    background: #EFF0F3;
    box-sizing: border-box;
}
.main__w-1250{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
    height: 100%;
    margin: 0 auto;
}
.main__w-1250>div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
main img{
    width: 470px;
    height: 387px;
    padding: 13px 18px 11px 18px;
}
main h1{
    width: 617px;
    height: 162px;
    color: #2B2C34;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
}
main p{
    position: relative;
    margin-left: 12px;
    width: 652px;
    height: 50px;
    color: #9A9494;
    font-size: 20px;
    font-weight: 400;
}
main p::before{
    content: "";
    position: absolute;
    background-image: url("Icons/line.png");
    width: 3px;
    height: 56px;
    left: -12px;
    background-size: cover;
}
.form{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 609px;
    height: 67px;
}
.form input[type="email"], .form input[type="email"]::placeholder{
    height: 100%;
    width: 444px;
    padding: 21px 200px 21px 25px;
    border-radius: 8px;
    background: #FFFFFE;
    border: none;
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 400;
}
.form input[type="submit"]{
    height: 100%;
    width: 145px;
    padding: 20px 23px 19px 23px;
    border-radius: 8px;
    background: #6246EA;
    border: none;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
/*----------------------- SECTION_BROWSE ----------------------------*/
.browse_category{
    width: 100%;
    height: 500px;
    background: #EFF0F3;
    padding-top: 67px;
}
.section_browse{
    display: flex;
    width: 1252px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 365px;
    margin: 0 auto;
}
.section_browse .category{
    display: flex;
    width: 100%;
    height: 35px;
    padding: 2px 0 3px 0;
    justify-content: flex-start;
    align-items: center;
    gap: 814px;
}
.section_browse .category h4, .article h4{
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.section_browse .category a, .article a{
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    margin-right: 25px;
}
.section_browse .category a::after, .article a::after{
    content: "";
    background-image: url("Icons/arrow.png");
    width: 6px;
    height: 14px;
    background-size: cover;
    position: absolute;
    top: 8px;
    right: -16px;
}
.cards{
    width: 1248px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
}
.card{
    width: 220px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    background: #FFFFFE;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.icon{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-left: 30px;
    height: 120px;
}
.icon img{
    width: 60px;
    height: 60px;
    border-radius: 7.5px;
    background: #FFFFFE;
}
.icon h5{
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    height: 30px;
}
.card:hover, .card:hover h5{
    background: #6246EA;
    color: #FFFFFE;
    cursor: pointer;
}
/*----------------------- SECTION_POST ----------------------------*/
.post{
    width: 100%;
    height: 2418px;
    background: #FFFFFE;
}
.section_post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px auto;
    width: 1252px;
    height: 2344px;
}
.block{
    width: 100%;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
.article{
    display: flex;
    width: 100%;
    height: 35px;
    padding: 2px 0 3px 0;
    justify-content: space-between;
    align-items: center;
}
.items{
    width: 100%;
    height: 425px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.item{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    background: #FFFFFE;
    padding: 20px;
}
.item a{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    margin: 25px 0 auto 0;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-direction: row;
}
.info div{
    display: flex;
    align-items: flex-start;
    gap: 4.2px;
    justify-content: center;
    flex-direction: column;
}
.info img{
    width: 57px;
    height: 57px;
}
.info p{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    width: 184px;
    height: 21px;
}
.info h6{
    font-size: 16px;
    font-weight: 600;
}
.section_post button{
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.item:hover{
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
/*---------------------- SECTION-SUBSCRIBE -----------------------------------*/
.subscribe{
    width: 100%;
    height: 453px;
    background: #EFF0F3;
    padding: 58px 372px;
}
.section_subscribe{
    display: flex;
    width: 696px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 337px;
}
.section_subscribe img{
    width: 130px;
    height: 130px;
}
.text{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.text h3{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}
.text p{
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 400;
}
/*------------------------ FOOTER -----------------------------------*/
footer{
    width: 100%;
    height: 435px;
    background: #EFF0F3;
}