/*------------------HEADER -------------------*/
header{
    width: 100%;
    height: 86px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: fixed;
    top: 0;
}
.header__w-1440{
    /*width: 1250px;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__w-1440 div:first-of-type{
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 95px;
}
.header__w-1440 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-right: 95px;
}